* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.view.active {
  opacity: 1;
  pointer-events: auto;
}

.view {
  opacity: 0;
  pointer-events: auto;
  transition: opacity .8s ease;
}

#view1 {
	position: fixed;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	width: 100%;
	flex-direction: column;
	backdrop-filter: blur(2px);
	background-color: rgba(0, 0, 0, 0.1);
	color: white;
	img {
		width: 150px;
		border-radius: 50%;
		margin: 10px;
	}
	button {
		margin: 10px;
		padding: 0 10px;
		border-color: black #999999 #999999 black;
		border-width: 2px;
		border-style: solid;
	}
}

body {
  font-family: "Fixedsys", monospace;
  background: url("./utils/windows-background.png");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	overflow: hidden;
	min-height: 100vh;
}

/* body:has(#view1.active) {
  overflow: hidden;
} */

/* 图标导航 */
nav {
	display: grid;  
	grid-template-rows: repeat(6, auto);
	grid-auto-flow: column;
	width: 30%;
  padding: 15px;
  position: fixed;
  top: 0;
	a {
		position: relative;
    height: fit-content;
		text-decoration: none;
		color: #555;
		font-weight: bold;
		display: grid;
    place-items: center;
		color: #fff;
		padding: 10px;
		img {
			max-height: 75px;
			max-width: 75px;
			display: flex;
			min-height: 55px;
			min-width: 55px;
		}
		cursor: pointer;
	}
	a:hover {
		outline: 1px solid rgba(255, 255, 255, 0.8);
		background-color: rgba(255, 255, 255, 0.1);	
	}
}

/* 弹窗 */
.draggable-window {
	width: 300px;
  height: 200px;
	position: absolute;
  background: #cccccc;
  transform: scale(0);
  opacity: 0;
  transition: transform .3s ease, opacity .3s ease;
	padding: 2px;
	border-color: white #999999 #999999 white;
	border-width: 2px;
	border-style: solid;
	.toolbar {
		color: white;
		height: 25px;
		background: #000099;
		padding: 1px;
		display: flex;
    justify-content: space-between;
		button {	
			aspect-ratio: 1;
			border-color: white #333 #333 white;
			border-style: solid;
			margin: 2px;		
		}
	}
	.toolbar:active {
		cursor: grabbing;
	}
	.container {
		background: white;
		margin: 2px;
		border-color: black #999999 #999999 black;
		border-style: solid;
		border-width: 1.5px;
		height: calc(100% - 27px);
		overflow: auto;
		padding: 10px 5px;
		div div {
			display: flex;
    	justify-content: space-between;
		}
		.title {
			font-weight: bold;
			font-size: medium;
		}
		.subtitle {
			color: grey;
		}
	}
	.container > div {
		padding: 8px;
	}
	.container > div:hover {
		outline: 2px solid #245DDA;
	}
}
.draggable-window.open {
	transform: scale(1);
  opacity: 1;
  pointer-events: auto;
}
.draggable-window::before {
  content: "";
  position: absolute;
  inset: -4px;
  border-top: 2px solid #cccccc;
  border-left: 2px solid #cccccc;
  border-bottom: 2px solid black;
  border-right: 2px solid black;
	border-radius: 1px;
	pointer-events: none;
}

/* windows */
#about-me {
	width: 800px;
  height: 400px;
	.container {
		line-height: 28px;
		list-style-position: inside;
		span:hover {
			background-color: yellow;
			font-weight: bold;
		}
	}
}

#education {
	width: 800px;
  height: 400px;
	.container .content {
		display: block;
	}
}

#prof-experience {
	width: 800px;
  height: 600px;
	.container {
		.content {
			margin: 0 8px;
			display: block;
			.highlight {
				background: yellow;
			}
		}
	}
}

#skills {
	width: 700px;
	height: 275px;
	.container {
		list-style-position: inside;
		li {
			margin-bottom: 10px;
			.title{
				font-weight: bold;
				font-size: medium;
			}
			.content {
				margin-left: 8px;
			}
		}
	}
}

#business-card {
	width: 400px;
  height: 275px;
	.container {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		text-align: center;
		a {
			color: inherit;
			text-decoration: none;
		}
	}
}

/* 底部图标栏 */
.dock {
	background: #cccccc;
	position: fixed;
	bottom: 0;
	padding: 5px;
	width: 100%;
	z-index: 10000;
	display: flex;
	align-items: baseline;
	border-top: 2px solid white;
	outline: 3px solid #999;
	.start {
		display: flex;
		align-items: center;
		font-weight: bold;
		margin: 0 10px;
		border-color: black #999999 #999999 black;
		border-width: 2px;
		border-style: solid;
	}
	img {
		width: 30px;
		height: 30px;
		margin: 0 3px;
	}
}

.scroll {
  position: absolute;
  top: 0;
	left: 50%;
	transform: translateX(-50%);
  animation: scrollDown 15s linear infinite;
	z-index: -1;
}

@keyframes scrollDown {
  0%   { top: 0; }
  100% { top: 100vh; }
}
